.contact {
    margin-bottom: 100px;
    &__title::after {
        right: 615px;
    }
    &__nav {
        font-family: $o-font-bold,sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 12px;
        align-items: center;
        color: rgba(51, 51, 51, 0.5);
        display: inline-block;
        padding: 25px 13px 0 6px;
        transition: all .5s;
        &:hover {
            color: $color-corn;
            }
            &-icon {
            color: $color-corn;
            }
        }
        
    &__button {
        width: 100%;
        height: 60px;
    }
    &__form {
       margin: 0 -5px;
    }
    &__inner {
         padding: 0 5px 10px;
    }
}

.form__item {
    &-contact {
    width: 420px;
    height: 60px;
    }
    &-message {
        width: 100%;
        height: 120px;
        resize: none;
    }
}