.events{
    background-image: url(../assets/images/events-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color: $color-white;
    &__schedule {
        color: rgba(255, 255, 255, 0.5);
    }
}