.team {
    background-image: url(../assets/images/team-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: $color-white;
    padding: 40px 0 100px;
    &__img {
        position: relative;
    }
    &__content {
        padding-top: 117px;
        max-width: 600px;
    }
}